* {
	margin: 0;
	padding: 0;
}

.app {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.board {
	width: calc(64px * 8);
	height: calc(64px * 8);
	display: flex;
	flex-wrap: wrap;
}

.cell {
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell img {
	width: 48px;
	height: 48px;
	position: relative;
}

.black {
	background-color: deepskyblue;
}

.white {
	background-color: rgb(244, 218, 171);
}

.selected {
	background-color: brown;
}

.available {
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: green;
}

.lost {
	height: calc(50vh - 60px);
	padding: 30px;
	margin-left: 50px;
	background-color: lightblue;
}
.step {
	text-align: center;
	margin-bottom: 20px;
	width: auto;
}

.step_black {
	background-color: deepskyblue;
	color: white;
}
.step_white {
	background-color: rgb(244, 218, 171);
	color: white;
}

.restart {
	background-color: #fff;
	border-radius: 20px;
	padding: 10px;
	cursor: pointer;
	margin-right: 20px;
}

.lost_header {
	color: red;
}
